<%- include ('partials/header.ejs')%>
<body>
    <%- include ('partials/navbar.ejs')%>
    <div class="container">
        <div class="card" id="ask-form">
            <div class="card-header" \>
                <h3> Criar pergunta </h3>
            </div>
            <div class="card-body">
                <form method="POST" action="/save-question">
                    <br><label for="title">Título da pergunta</label>
                    <input type="text" placeholder="Título da pergunta" name="title" id="title" class="form-control">
                    <br><label for="question">Pergunta</label>
                    <textarea placeholder="Insira sua pergunta aqui" name="question" id="ask" class="form-control"></textarea>
                    <br><button type="submit" class="btn btn-primary">Perguntar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include ('partials/footer.ejs') %>

